@model ProyectoInde.Models.DatoTransformador

@{
    ViewData["Title"] = "Edit";

    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style>
    /*Diseño boton*/
    .boton_personalizado {
        text-decoration: none;
        /*padding: 10px;*/
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        border: 2px solid #0016b0;
    }

        .boton_personalizado:hover {
            color: #1883ba;
            background-color: transparent;
        }

    .boton_alternativo {
        background-color: #00c69f;
        color: #ffffff !important;
        border: 2px solid #006400;
        border-radius: 7px;
    }

        .boton_alternativo:hover {
            background-color: transparent !important;
            color: #00c69f !important;
            text-decoration: none;
        }
    /*Diseño Div cont*/
    .contpadre {
        background: transparent;
        height: 900px;
        /*IMPORTANTE*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conthijo {
        background: transparent;
        width: 600px;
    }
</style>

<body id="top">
    <div class="encabezado">
        <b>EDITAR DATOS TRANSFORMADOR</b>
    </div>
    <section id='services' class="s-services">
       
            <div class="contpadre">
                <div class="conthijo">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="CodDatoTransformador" />
                                <div class="form-group">
                                    <label asp-for="PotenciaMw" class="control-label"></label>
                                    <input asp-for="PotenciaMw" class="form-control" />
                                    <span asp-validation-for="PotenciaMw" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TemperaturaAcC" class="control-label"></label>
                                    <input asp-for="TemperaturaAcC" class="form-control" />
                                    <span asp-validation-for="TemperaturaAcC" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TemperaturaDeC" class="control-label"></label>
                                    <input asp-for="TemperaturaDeC" class="form-control" />
                                    <span asp-validation-for="TemperaturaDeC" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NivelAc" class="control-label"></label>
                                    <input asp-for="NivelAc" class="form-control" />
                                    <span asp-validation-for="NivelAc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VentIMA" class="control-label"></label>
                                    <input asp-for="VentIMA" class="form-control" />
                                    <span asp-validation-for="VentIMA" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FecIngreso" class="control-label"></label>
                                    <input asp-for="FecIngreso" class="form-control" />
                                    <span asp-validation-for="FecIngreso" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CodHora" class="control-label"></label>
                                    <select asp-for="CodHora" class="form-control" asp-items="ViewBag.CodHora"></select>
                                    <span asp-validation-for="CodHora" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CodTransformador" class="control-label"></label>
                                    <select asp-for="CodTransformador" class="form-control" asp-items="ViewBag.CodTransformador"></select>
                                    <span asp-validation-for="CodTransformador" class="text-danger"></span>
                                </div>
                                <div style='text-align:center' class="form-group">
                                    <input class="btn boton_alternativo" type="submit" value="Guardar" /> <a class="btn boton_alternativo" asp-action="Index">Regresa a la Lista</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
       

    </section>
</body>