@using ProyectoInde.Models;
@model Transformador

@{
    ViewData["Title"] = "Graficas";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script src="~/js/html2canvas.min.js"></script>
    <!--<script src="~/js/html2pdf.bundle.min.js"></script>-->

    <style>
        /*Diseños Div*/
        .padre {
            display: flex;
            justify-content: center;
        }

        .hijo {
            padding: 10px;
            margin: 10px;
            /* background-color: yellow; */
        }

        /*Diseño boton*/
        .boton_personalizado {
            text-decoration: none;
            /*padding: 10px;*/
            font-weight: 600;
            font-size: 20px;
            color: #ffffff;
            background-color: #1883ba;
            border-radius: 6px;
            border: 2px solid #0016b0;
        }

            .boton_personalizado:hover {
                color: #1883ba;
                background-color: transparent;
            }

        .boton_alternativo {
            background-color: #00c69f;
            color: #ffffff !important;
            border: 2px solid #006400;
            border-radius: 7px;
        }

            .boton_alternativo:hover {
                background-color: transparent !important;
                color: #00c69f !important;
                text-decoration: none;
            }

        .highcharts-figure, .highcharts-data-table table {
            min-width: 360px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>
</head>

<body id="top">

    <section id='services' class="s-services">
        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Gráfica de Líneas</h3>
                <h1 class="display-2">Instituto Nacional De Electrificación</h1>
            </div>
        </div>


        <figure style="padding:3em" id="grafica" class="highcharts-figure">
            <div class="data-info" style="display:none">
                <h1>
                    INDE
                </h1>
                <p ALIGN="justify">
                    Informe de gráfica de líneas, sobre el comportamiento de temperaturas y potencias en base a los datos
                    procesados por los transformadores y las unidades generadoras de energía de la casa de máquinas, ubicada
                    en la aldea Quixal del municipio de San Cristóbal Verapaz del departamento de Alta Verapaz.

                </p>

                <p ALIGN="justify">
                    El Instituto Nacional de Electrificación -INDE- como entidad estatal, autónoma y descentralizada hace constar
                    que esta gráfica es generada con fines de captar el control del comportamiento de la maquinaria que distribuye
                    aproximadamente el 15% de la energía eléctrica renovable al país de Guatemala.

                </p>

                <p ALIGN="justify">
                    A fin de orden y control, este documento es firmado, sellado y aprobado por el jefe de planta de turno.
                </p>

                <p align="center">
                    F_____________
                </p>
            </div>
            <div style="padding-top:2em" id="container"></div>

        </figure>
        <div id="elementH"></div>

        <script>

            $(document).ready(function () {
                $("#btnInforme").click(function (event) {

                    event.preventDefault();
                    $(".highcharts-exporting-group").css("display", "none");
                    $('.data-info').css("display", "block");
                    html2canvas(document.querySelector("#grafica")).then(canvas => {
                        $(".highcharts-exporting-group").css("display", "block");
                        $('.data-info').css("display", "none");
                        var imgData = canvas.toDataURL("image/jpeg", 1);
                        var pdf = new jsPDF("p", "mm", "letter");
                        var pageWidth = pdf.internal.pageSize.getWidth();
                        var pageHeight = pdf.internal.pageSize.getHeight();
                        var imageWidth = canvas.width;
                        var imageHeight = canvas.height;
                        var ratio = imageWidth / imageHeight >= pageWidth / pageHeight ? pageWidth / imageWidth : pageHeight / imageHeight;
                        //pdf = new jsPDF(this.state.orientation, undefined, format);
                        pdf.addImage(imgData, 'JPEG', 0, 0, imageWidth * ratio, imageHeight * ratio);
                        pdf.save("informe.pdf");

                        // var doc = new jsPDF();

                        /*    var blobPDF = new Blob([pdf.output('blob')], { type: 'application/pdf' });
                            var blobUrl = URL.createObjectURL(blobPDF);
                            var link = document.createElement('a');

                            link.href = blobUrl;
                            link.download = "name_of_file.pdf";
                            link.text = "Get PDF";
                            link.target = "_blank";
                            $("#elementH").append(link);
            */
                    });

                });

                $("#btnGraficas").click(function (event) {

                    event.preventDefault();

                    var nombre = $("#tipo-data").val();
                    var url = '/' + $("#tipo-data").val();
                    let formData = new FormData();
                    formData.append('fechaInicial', $("#fecha-inicio").val());
                    formData.append('fechaFinal', $("#fecha-final").val());
                    formData.append('transformador', $("#tipo-transformador").val());

                    formData.append('horaInicial', $("#hora-inicio").val());
                    formData.append('horaFinal', $("#hora-final").val());


                    console.log("url: ", url);
                    console.log("form: ", formData);

                    fetch(url, {
                        method: 'POST', // or 'PUT'
                        body: formData,

                    }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => {

                            let data = Array.from(response[0], x => parseFloat(x));

                            console.log("data: ", data);
                            console.log("fechas: ", response[1]);
                            Highcharts.chart('container', {
                                char: {
                                    type: 'line'
                                },
                                title: {
                                    text: 'Instituto Nacional de Electrificación'
                                },
                                subtitle: {
                                    text: nombre + " vs tiempo"
                                },
                                xAxis: {
                                    categories: response[1]
                                },
                                yAxis: {
                                    title: {
                                        text: nombre
                                    }
                                },
                                plotOptions: {
                                    line: {
                                        dataLabels: {
                                            enabled: true
                                        },
                                        enableMouseTracking: false
                                    }
                                },
                                series: [{
                                    name: nombre,
                                    data: data
                                }]
                            });
                        });
                });
            });

            /* var element = document.getElementById('grafica');
             var opt = {
                 margin: 0.1,
                 filename: 'myfile.pdf',
                 image: { type: 'jpeg', quality: 0.98 },
                 html2canvas: { scale: 1 },
                 jsPDF: { unit: 'mm', format: 'letter', orientation: 'landscape' }
             };

             // New Promise-based usage:
             html2pdf().set(opt).from(element).save();

             // Old monolithic-style usage:
         */


        </script>

        <div style='text-align:center' class="form-group">


            <!--<div style='text-align:center' class="row services-list block-1-2 ">

                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon">
                        <i class="icon-paint-brush"></i>
                    </div>
                    <div class="service-text">
                        <h3 class="h2">Dato</h3>
                        <select style="" id="tipo-data" name="tipo">
                            <option value="potencia">Potencia</option>
                            <option value="temperaturaAc(C°)">Temperatura AC(C°)</option>
                            <option value="temperaturaDE(C°)">Temperatura DE(C°)</option>
                            <option value="nivelAC(%)">Nivel AC(%)</option>
                            <option value="vent">Vent. I/M/A</option>
                        </select>
                    </div>
                </div>

                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon">
                        <i class="icon-group"></i>
                    </div>
                    <div class="service-text">
                        <h3 class="h2">Transformador</h3>
                        <select id="tipo-transformador" name="tipo">
                            <option value="transformador 1">Transformador 1</option>
                            <option value="transformador 2">Transformador 2</option>
                            <option value="transformador 3">Transformador 3</option>
                            <option value="transformador 4">Transformador 4</option>
                            <option value="transformador 5">Transformador 5</option>
                        </select>
                    </div>
                </div>
            </div>-->
            <div class="padre">
                <div class="hijo">
                    <select id="tipo-data" name="tipo">
                        <option value="potencia">Potencia</option>
                        <option value="temperaturaAc(C°)">Temperatura AC(C°)</option>
                        <option value="temperaturaDE(C°)">Temperatura DE(C°)</option>
                        <option value="nivelAC(%)">Nivel AC(%)</option>
                        <option value="vent">Vent. I/M/A</option>
                    </select>
                </div>
                <div class="hijo">
                    <select id="tipo-transformador" name="tipo">
                        <option value="transformador 1">Transformador 1</option>
                        <option value="transformador 2">Transformador 2</option>
                        <option value="transformador 3">Transformador 3</option>
                        <option value="transformador 4">Transformador 4</option>
                        <option value="transformador 5">Transformador 5</option>
                    </select>
                </div>
            </div>
            <div class="padre">
                <div class="hijo">
                    <label for="hora-inicio">Hora inicial</label>
                    <input type="time" id="hora-inicio" />
                </div>
                <div class="hijo">
                    <label for="hora-final">Hora final</label>
                    <input type="time" id="hora-final" />
                </div>


                <div class="hijo">
                    <label for="fecha-inicio">Fecha de inicio</label>
                    <input type="date" id="fecha-inicio" />
                </div>
                <div class="hijo">
                    <label for="fecha-final">Fecha Final</label>
                    <input type="date" id="fecha-final" />
                </div>
            </div>
            <button type="button" id="btnGraficas" class="btn boton_personalizado">Generar Gráfica <i class="fa fa-database"></i></button>
            <button type="button" id="btnInforme" class="btn boton_alternativo ">Generar informe  <i class="fa fa-folder-open"></i></button>
        </div>


    </section>
</body>
</html>