
@{
    ViewData["Title"] = "informe";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var baseurl = "https://" + @Context.Request.Host;
}
    <style>
        /*Diseños Div*/
        .padre {
            display: flex;
            justify-content: center;
        }

        .hijo {
            padding: 10px;
            margin: 10px;
            /* background-color: yellow; */
        }

        /*Diseño boton*/
        .boton_personalizado {
            text-decoration: none;
            /*padding: 10px;*/
            font-weight: 700;
            font-size: 30px;
            color: #ffffff;
            background-color: transparent;
            border-radius: 6px;
            border: 2px solid #ffffff;
        }

            .boton_personalizado:hover {
                color: #000000;
                background-color: #ffffff;
            }

        .boton_alternativo {
            background-color: #00c69f;
            color: #ffffff !important;
            border: 2px solid #006400;
            border-radius: 7px;
        }

            .boton_alternativo:hover {
                background-color: transparent !important;
                color: #00c69f !important;
                text-decoration: none;
            }

  
    </style>

    <body id="top">

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="@baseurl/images/rio4.jpg" data-natural-width=2000 data-natural-height=1000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hola @User.Identity.Name</h3>

                <div style='text-align:center'>
                    <h1>
                        <br>
                        Elija el formulario  <br>
                        que necesita

                    </h1>

                    <a class="boton_personalizado" asp-controller="ControlParametroUnidads" asp-action="Create" method="get" >
                        Control de Parámetros
                    </a>
                    <br>
                    <a class="boton_personalizado" asp-controller="ControlGeneracionDiarias" asp-action="Create" method="get" >
                        Control de Generación Diaria
                    </a>
                    <br>
                    <a class="boton_personalizado" asp-controller="ControlGeneralPtqUnidads" asp-action="Create" method="get" >
                        Control General PTQ en Unidades
                    </a>
                    <br>
                    <a class="boton_personalizado" asp-controller="DatoTransformadors" asp-action="Create" method="get" >
                        Control de Transformadores Principales
                    </a>


                    <br>
                    <br>
                    <br>
                    <br>
       
                </div>
            </div>



            <div class="home-content__line"></div>

        </div> <!-- end home-content -->
    </section>

 </body>
