@model ProyectoInde.Models.ControlGeneralPtqUnidad

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ControlGeneralPtqUnidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodControlGeneralPtqUnidad" />
            <div class="form-group">
                <label asp-for="PresionAceiteRegulador11261" class="control-label"></label>
                <input asp-for="PresionAceiteRegulador11261" class="form-control" />
                <span asp-validation-for="PresionAceiteRegulador11261" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresionAceiteControlPilotoReg11262" class="control-label"></label>
                <input asp-for="PresionAceiteControlPilotoReg11262" class="form-control" />
                <span asp-validation-for="PresionAceiteControlPilotoReg11262" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresionAceiteRefrigeradorReg11263" class="control-label"></label>
                <input asp-for="PresionAceiteRefrigeradorReg11263" class="form-control" />
                <span asp-validation-for="PresionAceiteRefrigeradorReg11263" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempAceiteReguladorC1180" class="control-label"></label>
                <input asp-for="TempAceiteReguladorC1180" class="form-control" />
                <span asp-validation-for="TempAceiteReguladorC1180" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempCojineteGuiaTurbinaC2722" class="control-label"></label>
                <input asp-for="TempCojineteGuiaTurbinaC2722" class="form-control" />
                <span asp-validation-for="TempCojineteGuiaTurbinaC2722" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAeEntradaEnfriadorCGBar26434" class="control-label"></label>
                <input asp-for="PAeEntradaEnfriadorCGBar26434" class="form-control" />
                <span asp-validation-for="PAeEntradaEnfriadorCGBar26434" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QAeCGLMinX20E2727" class="control-label"></label>
                <input asp-for="QAeCGLMinX20E2727" class="form-control" />
                <span asp-validation-for="QAeCGLMinX20E2727" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAeSalidaEnfriadorCGBar26435" class="control-label"></label>
                <input asp-for="PAeSalidaEnfriadorCGBar26435" class="form-control" />
                <span asp-validation-for="PAeSalidaEnfriadorCGBar26435" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAeSalidaEnfriadorCG27362" class="control-label"></label>
                <input asp-for="TAeSalidaEnfriadorCG27362" class="form-control" />
                <span asp-validation-for="TAeSalidaEnfriadorCG27362" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAceiteCGSalidaEnfriadorC27331" class="control-label"></label>
                <input asp-for="TAceiteCGSalidaEnfriadorC27331" class="form-control" />
                <span asp-validation-for="TAceiteCGSalidaEnfriadorC27331" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAceiteCGEntradaEnfriadorC27331" class="control-label"></label>
                <input asp-for="TAceiteCGEntradaEnfriadorC27331" class="form-control" />
                <span asp-validation-for="TAceiteCGEntradaEnfriadorC27331" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlujoAceiteCGTurbinaLMinx5E2727" class="control-label"></label>
                <input asp-for="FlujoAceiteCGTurbinaLMinx5E2727" class="form-control" />
                <span asp-validation-for="FlujoAceiteCGTurbinaLMinx5E2727" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlujoAeCCombinado" class="control-label"></label>
                <input asp-for="FlujoAeCCombinado" class="form-control" />
                <span asp-validation-for="FlujoAeCCombinado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlujoAeGenerador" class="control-label"></label>
                <input asp-for="FlujoAeGenerador" class="form-control" />
                <span asp-validation-for="FlujoAeGenerador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAguasAbajoVeBar654" class="control-label"></label>
                <input asp-for="PAguasAbajoVeBar654" class="form-control" />
                <span asp-validation-for="PAguasAbajoVeBar654" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAguasArribaVeBar853" class="control-label"></label>
                <input asp-for="PAguasArribaVeBar853" class="form-control" />
                <span asp-validation-for="PAguasArribaVeBar853" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAguasArribaVeBar651" class="control-label"></label>
                <input asp-for="PAguasArribaVeBar651" class="form-control" />
                <span asp-validation-for="PAguasArribaVeBar651" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAceiteMandoVeBar652" class="control-label"></label>
                <input asp-for="PAceiteMandoVeBar652" class="form-control" />
                <span asp-validation-for="PAceiteMandoVeBar652" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndNivelDesfogueNormalAnormal" class="control-label"></label>
                <input asp-for="IndNivelDesfogueNormalAnormal" class="form-control" />
                <span asp-validation-for="IndNivelDesfogueNormalAnormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PBombaAeBar1894" class="control-label"></label>
                <input asp-for="PBombaAeBar1894" class="form-control" />
                <span asp-validation-for="PBombaAeBar1894" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAeGeneradorBar2740" class="control-label"></label>
                <input asp-for="PAeGeneradorBar2740" class="form-control" />
                <span asp-validation-for="PAeGeneradorBar2740" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TAeTurbinaC27361" class="control-label"></label>
                <input asp-for="TAeTurbinaC27361" class="form-control" />
                <span asp-validation-for="TAeTurbinaC27361" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAeTurbinaBar26431" class="control-label"></label>
                <input asp-for="PAeTurbinaBar26431" class="form-control" />
                <span asp-validation-for="PAeTurbinaBar26431" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PAlKgCm226432" class="control-label"></label>
                <input asp-for="PAlKgCm226432" class="form-control" />
                <span asp-validation-for="PAlKgCm226432" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecIngreso" class="control-label"></label>
                <input asp-for="FecIngreso" class="form-control" />
                <span asp-validation-for="FecIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodHora2" class="control-label"></label>
                <select asp-for="CodHora2" class="form-control" asp-items="ViewBag.CodHora2"></select>
                <span asp-validation-for="CodHora2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUnidadGeneradora" class="control-label"></label>
                <select asp-for="CodUnidadGeneradora" class="form-control" asp-items="ViewBag.CodUnidadGeneradora"></select>
                <span asp-validation-for="CodUnidadGeneradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

