@model ProyectoInde.Models.ControlParametroUnidad

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ControlParametroUnidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodControlParametroUnidad" />
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato1" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato1" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato2" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato2" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato3" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato3" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato4" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato4" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato5" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato5" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato6" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato6" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato7" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato7" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevanadosEstatorCDato8" class="control-label"></label>
                <input asp-for="DevanadosEstatorCDato8" class="form-control" />
                <span asp-validation-for="DevanadosEstatorCDato8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteEmpujeGeneradorCDato1" class="control-label"></label>
                <input asp-for="CojineteEmpujeGeneradorCDato1" class="form-control" />
                <span asp-validation-for="CojineteEmpujeGeneradorCDato1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteEmpujeGeneradorCDato2" class="control-label"></label>
                <input asp-for="CojineteEmpujeGeneradorCDato2" class="form-control" />
                <span asp-validation-for="CojineteEmpujeGeneradorCDato2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteGuiaGeneradorCDato1" class="control-label"></label>
                <input asp-for="CojineteGuiaGeneradorCDato1" class="form-control" />
                <span asp-validation-for="CojineteGuiaGeneradorCDato1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteGuiaGeneradorCDato2" class="control-label"></label>
                <input asp-for="CojineteGuiaGeneradorCDato2" class="form-control" />
                <span asp-validation-for="CojineteGuiaGeneradorCDato2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalienteEnfriadoresGeneradorCDato1" class="control-label"></label>
                <input asp-for="AireSalienteEnfriadoresGeneradorCDato1" class="form-control" />
                <span asp-validation-for="AireSalienteEnfriadoresGeneradorCDato1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalienteEnfriadoresGeneradorCDato2" class="control-label"></label>
                <input asp-for="AireSalienteEnfriadoresGeneradorCDato2" class="form-control" />
                <span asp-validation-for="AireSalienteEnfriadoresGeneradorCDato2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalienteEnfriadoresGeneradorCDato3" class="control-label"></label>
                <input asp-for="AireSalienteEnfriadoresGeneradorCDato3" class="form-control" />
                <span asp-validation-for="AireSalienteEnfriadoresGeneradorCDato3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalienteEnfriadoresGeneradorCDato4" class="control-label"></label>
                <input asp-for="AireSalienteEnfriadoresGeneradorCDato4" class="form-control" />
                <span asp-validation-for="AireSalienteEnfriadoresGeneradorCDato4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalienteEnfriadoresGeneradorCDato5" class="control-label"></label>
                <input asp-for="AireSalienteEnfriadoresGeneradorCDato5" class="form-control" />
                <span asp-validation-for="AireSalienteEnfriadoresGeneradorCDato5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalienteEnfriadoresGeneradorCDato6" class="control-label"></label>
                <input asp-for="AireSalienteEnfriadoresGeneradorCDato6" class="form-control" />
                <span asp-validation-for="AireSalienteEnfriadoresGeneradorCDato6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaSalidaAguaEnfriamientoCDato1" class="control-label"></label>
                <input asp-for="EntradaSalidaAguaEnfriamientoCDato1" class="form-control" />
                <span asp-validation-for="EntradaSalidaAguaEnfriamientoCDato1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaSalidaAguaEnfriamientoCDato2" class="control-label"></label>
                <input asp-for="EntradaSalidaAguaEnfriamientoCDato2" class="form-control" />
                <span asp-validation-for="EntradaSalidaAguaEnfriamientoCDato2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AguaSalienteEnfriadorCojinetesGenC" class="control-label"></label>
                <input asp-for="AguaSalienteEnfriadorCojinetesGenC" class="form-control" />
                <span asp-validation-for="AguaSalienteEnfriadorCojinetesGenC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AceiteCojineteGeneradorC" class="control-label"></label>
                <input asp-for="AceiteCojineteGeneradorC" class="form-control" />
                <span asp-validation-for="AceiteCojineteGeneradorC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteGuiaTurbinaC" class="control-label"></label>
                <input asp-for="CojineteGuiaTurbinaC" class="form-control" />
                <span asp-validation-for="CojineteGuiaTurbinaC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaudalAguaSelloLMx20E2639" class="control-label"></label>
                <input asp-for="CaudalAguaSelloLMx20E2639" class="form-control" />
                <span asp-validation-for="CaudalAguaSelloLMx20E2639" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresionAguaSelloKgCm226422" class="control-label"></label>
                <input asp-for="PresionAguaSelloKgCm226422" class="form-control" />
                <span asp-validation-for="PresionAguaSelloKgCm226422" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperaturaSelloEje2276" class="control-label"></label>
                <input asp-for="TemperaturaSelloEje2276" class="form-control" />
                <span asp-validation-for="TemperaturaSelloEje2276" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteEmpujeC" class="control-label"></label>
                <input asp-for="CojineteEmpujeC" class="form-control" />
                <span asp-validation-for="CojineteEmpujeC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireLlegadaEnfriadorCNo1" class="control-label"></label>
                <input asp-for="AireLlegadaEnfriadorCNo1" class="form-control" />
                <span asp-validation-for="AireLlegadaEnfriadorCNo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireLlegadaEnfriadorCNo2" class="control-label"></label>
                <input asp-for="AireLlegadaEnfriadorCNo2" class="form-control" />
                <span asp-validation-for="AireLlegadaEnfriadorCNo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CojineteGuiaSuperiorC" class="control-label"></label>
                <input asp-for="CojineteGuiaSuperiorC" class="form-control" />
                <span asp-validation-for="CojineteGuiaSuperiorC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalidaEnfriadorCNo1" class="control-label"></label>
                <input asp-for="AireSalidaEnfriadorCNo1" class="form-control" />
                <span asp-validation-for="AireSalidaEnfriadorCNo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AireSalidaEnfriadorCNo2" class="control-label"></label>
                <input asp-for="AireSalidaEnfriadorCNo2" class="form-control" />
                <span asp-validation-for="AireSalidaEnfriadorCNo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresionAguaSelloEje26432" class="control-label"></label>
                <input asp-for="PresionAguaSelloEje26432" class="form-control" />
                <span asp-validation-for="PresionAguaSelloEje26432" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresionAguaSelloEje26431" class="control-label"></label>
                <input asp-for="PresionAguaSelloEje26431" class="form-control" />
                <span asp-validation-for="PresionAguaSelloEje26431" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotenciaMw" class="control-label"></label>
                <input asp-for="PotenciaMw" class="form-control" />
                <span asp-validation-for="PotenciaMw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecIngreso" class="control-label"></label>
                <input asp-for="FecIngreso" class="form-control" />
                <span asp-validation-for="FecIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodHora" class="control-label"></label>
                <select asp-for="CodHora" class="form-control" asp-items="ViewBag.CodHora"></select>
                <span asp-validation-for="CodHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUnidadGeneradora" class="control-label"></label>
                <select asp-for="CodUnidadGeneradora" class="form-control" asp-items="ViewBag.CodUnidadGeneradora"></select>
                <span asp-validation-for="CodUnidadGeneradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

